body{
    padding: 96px 10px 0px 10px;
    background-color: #1ed760;
}

.navbar{
    background-color: #682a8f;
}

.imgLogo{
    height: 70px;
}

.jumbotron{
    padding: 40px 30px 0px 30px; /* a ordem é TOPO | DIREITA | INFERIOR | ESQUERDA*/
    margin: 10px;
}

.endereco{
    padding: 0px;
}
address{
    font-size: 10pt
}

.form-group{
    width: 300px;
}

footer{
    margin-top: auto;
}

