body {
    padding: 125px 0px 0px 0px;
    background-color: #1ed760;
}

.navbar {
    background-color: #682a8f;
}

.imgLogo {
    height: 100px;
}

.formContato {
    min-width: auto;
    max-width: 500px;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    color: white;
    font-weight: bolder;
}

footer {
    background-color: #682a8f;
}


a {
    color: white;
    font-size: 15pt;
}
