body {
    padding: 125px 0px 0px 0px;
    background-color: #1ed760;
}

.navbar {
    background-color: #682a8f;
}

.imgLogo {
    height: 100px;
}

.titulo{
    margin-top: 50px;
    color: white;
}

.linha{
    width: 300px;
    height: 1px;
}

footer {
    background-color: #682a8f;
}

a {
    color: white;
    font-size: 15pt;
}