body {
    padding: 125px 0px 0px 0px;
    background-color: #1ed760;
}

.navbar {
    background-color: #682a8f;
}

.imgLogo {
    height: 100px;

}

.titulo{
    margin-top: 50px;
    color: white;
}

.texto{
    color: white;
    width: 300px;
    margin: auto;
}

.linha{
    width: 300px;
    height: 1px;
}

.unidade{
    margin-bottom: 30px;
}

.unidade .imagem{
    height: 100px;
    width: 300px;
    object-fit: cover;
    object-position: center;
    margin: 15px;
}

.unidade .nome{
    color: white;
    margin-bottom: 20px;
}

.descUnidade{
    color: white;
    margin: 20px;
}

.descUnidade h5{
    margin-bottom: 15px;
}

footer {
    background-color: #682a8f;
}

a {
    color: white;
    font-size: 15pt;
}