body {
    padding: 125px 0px 0px 0px;
    background-color: #1ed760;
}

.imgLogo {
    height: 100px;
}

.navbar {
    background-color: #682a8f;
}

.navbar2{
    background-color: #1ed760;
    margin-top: 116px;
}

#menuh{
    text-align: center;
    color: white;
    padding: 10px;
}

#menuh ul li{
    display: inline;
}

#menuh ul li a{
    padding-right: 20px;
    display: inline;
}

#menuh ul li a:hover{
    color: #682a8f;
}

@media (min-width: 540px){
    #menuh{
        height: 50px;
    }
    .secLanches{
        margin-top: 40px;
    }
    
}
@media (max-width:539px){
    #menuh{
        height: 80px;
    }
    .secLanches{
        margin-top: 70px;
    }
}

@media (max-width: 311px){
    #menuh{
        height: 110px;
    }
    .secLanches{
        margin-top: 100px;
    }
}

@media (max-width: 281px){
    #menuh{
        height: 140px;
    }
    .secLanches{
        margin-top: 130px;
    }
}

@media (min-width: 1000px){
    section{
        padding-left: 200px;
        padding-right: 200px;
    }
}

@media(max-width: 999px){
    section{
        padding-left: 20px;
        padding-right: 20px;
    }
}

.categoria{
    color: white;
    padding: 20px;
    text-align: center;
}

.imgProd .card{
    height: 110px;
    width: 110px;
    margin-bottom: 20px ;

}

.imgProd .card img{
    height: 100px;
    width: 100px;
    margin: 10px;
}

.dtProd{
    margin-bottom: 20px;
}

.nomeProd{
    text-align: center;
    color: white;
}

.descProd{
    text-align: center;
    color: white;
}

.btn{
    margin-bottom: 15px;
}

.precoProd{
    text-align: center;
    color: white;
    margin-bottom: 20px;
}

#lanches{
    background-color:blueviolet;
}

#comidas{
    background-color: rgb(50, 170, 235);
}

#bebidas{
    background-color: rgb(138, 247, 48);
}

#sobremesas{
    background-color: rgb(205, 69, 218);
}

footer {
    background-color: #682a8f;
}

a {
    color: white;
    font-size: 15pt;
}
